<h2 class="text-center">
<a href="#" class="js-prev"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
&nbsp;
<a href="#" class="js-play"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
<a href="#" class="js-pause" style="display:none;"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></a>
&nbsp;
<a href="#" class="js-next"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
</h2>
<div class="text-center">
<a href="#" class="js-shuffle">Shuffle</a>
<a href="#" class="js-loop">Loop</a>
</div>
<audio id="player" src="/m/play/<%= id %>/">
</audio>